{% extends "layout.html" %}
{% block content %}
    <div class="content-block">
        <h1>Видеоуроки по физике</h1>
        <p>Здесь собраны видеоуроки для углубленного изучения тем. После просмотра попробуйте ответить на вопросы для закрепления материала.</p>
    </div>

    <div class="lesson-card">
        <h2>Введение в кинематику. Прямолинейное равномерное движение.</h2>
        
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uX2vilBO4tE?si=5C19NojerGMVqlf4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <h3>Вопросы для закрепления:</h3>
        <ul class="question-list">
            <li>Что такое материальная точка и в каких случаях ее можно использовать?</li>
            <li>Дайте определение перемещения. Чем оно отличается от пути?</li>
            <li>Запишите уравнение движения для тела, движущегося равномерно и прямолинейно.</li>
        </ul>
    </div>
{% endblock %}